<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blood Request</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  
  <div class="card">
    <div id="midSection">
      <div class="container">
      <div style="display: flex;">
        <a class="nav-home" href="/"><img src="../static/logo.jpg" height="70"></a>
        <div>
          <h4>Name: #{name}</h4>
          <h4>Needs : #{blood}</h4>
        </div>
      </div>
      <div>
        <p>"Your help is urgently needed! #{name} is in need of blood, and your donation could be the lifeline they require. Your generosity has the potential to make a significant impact on someones health and well-being. Will you step up to help by donating blood today?"</p>
        <a href=`tel:+91#{phone}`>#{name}: #{phone}</a>
      </div>
      </div>
    </div>
  </div>
    
</body>
</html>